RewriteEngine on
#Error pages
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 503 /503.php

RewriteCond %{HTTP_REFERER} !^http://api.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astronomy.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://astronomy.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetriley.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetriley.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetrileyv2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetrileyv2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetrileyv3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bridgetrileyv3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://calculator.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://calculator.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hikingtrails.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hikingtrails.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://loginsystem.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://loginsystem.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://main.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://main.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nycydc.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nycydc.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rickandmortydb.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rickandmortydb.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ultracorp.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ultracorp.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v1.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v1.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://v3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astronomy.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.astronomy.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetriley.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetriley.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetrileyv2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetrileyv2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetrileyv3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bridgetrileyv3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.calculator.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.calculator.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hikingtrails.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hikingtrails.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.loginsystem.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.loginsystem.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.main.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.main.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nycydc.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nycydc.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rickandmortydb.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rickandmortydb.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ultracorp.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ultracorp.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v1.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v1.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.v3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yugi.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yugi.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yugi.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yugi.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astronomy.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://astronomy.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetriley.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetriley.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetrileyv2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetrileyv2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetrileyv3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bridgetrileyv3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://calculator.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://calculator.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hikingtrails.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hikingtrails.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://loginsystem.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://loginsystem.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://main.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://main.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nycydc.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nycydc.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rickandmortydb.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rickandmortydb.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ultracorp.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ultracorp.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v1.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v1.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://v3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astronomy.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.astronomy.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetriley.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetriley.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetrileyv2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetrileyv2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetrileyv3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bridgetrileyv3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.calculator.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.calculator.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hikingtrails.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hikingtrails.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.loginsystem.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.loginsystem.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.main.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.main.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nycydc.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nycydc.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rickandmortydb.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rickandmortydb.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ultracorp.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ultracorp.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v1.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v1.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v2.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v2.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v3.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.v3.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yugi.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yugi.ngbrandon.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yugi.ngbrandon.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yugi.ngbrandon.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

